<div class="table-responsive">
    <table class="table table-striped table-sm caption-top">
        <caption>Pendientes</caption>
        <thead>
            <tr class="table-dark">
                <th scope="col">Id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Personal encargado</th>
                <th scope="col">Area</th>
                <th scope="col">Nombre Software</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Insidencia</td>
                <td>Error</td>
                <td>21/09/2021</td>
                <td class="text-danger"><i class="bi bi-exclamation-triangle-fill"></i> Asignado</td>
                <td>data</td>
                <td>21/09/2021</td>
                <td>Notas del colegio</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Solicitud</td>
                <td>irrelevant</td>
                <td>21/09/2021</td>
                <td class="text-warning"><i class="bi bi-clock-fill"></i> En proceso</td>
                <td>data</td>
                <td>21/09/2021</td>
            </tr>
            <tr>
                <td>003</td>
                <td>data</td>
                <td>rich</td>
                <td>21/09/2021</td>
                <td class="text-warning">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="btn btn-primary dropdown-toggle dropbtn" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            En proceso
                        </button>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton"
                            id="myDropdown">
                            <a class="dropdown-item" href="#" class="text-warning"><i class="bi bi-clock-fill"></i> En
                                proceso</a>
                            <a class="dropdown-item" href="#">Perfil</a>
                            <a class="dropdown-item" href="#">Salir</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="btn btn-primary dropdown-toggle dropbtn" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Luis Blanco
                        </button>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton"
                            id="myDropdown">
                            <a class="dropdown-item" href="#" class="text-warning"><i class="bi bi-clock-fill"></i> En
                                proceso</a>
                            <a class="dropdown-item" href="#">Perfil</a>
                            <a class="dropdown-item" href="#">Salir</a>
                        </div>
                    </div>
                </td>
                <td>Educación</td>
            </tr>
        </tbody>
    </table>

    {{>navigation}}

</div>

<br />
<br />

<div class="table-responsive">
    <table class="table table-striped table-sm caption-top">
        <caption>Resueltos</caption>
        <thead>
            <tr class="table-dark">
                <th scope="col">Id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Personal encargado</th>
                <th scope="col">Area</th>
                <th scope="col">Nombre Software</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>21/09/2021</td>
                <td class="text-success"><i class="bi bi-check-circle-fill"></i> Resuelto</td>
                <td>21/09/2021</td>
            </tr>
            <tr>
                <td>1,002</td>
                <td>placeholder</td>
                <td>irrelevant</td>
                <td>21/09/2021</td>
                <td class="text-success"><i class="bi bi-check-circle-fill"></i> Resuelto</td>
                <td>21/09/2021</td>
            </tr>
            <tr>
                <td>1,004</td>
                <td>text</td>
                <td>random</td>
                <td>21/09/2021</td>
                <td class="text-success"><i class="bi bi-check-circle-fill"></i> Resuelto</td>
                <td>21/09/2021</td>
            </tr>
        </tbody>
    </table>

    {{>navigation}}

</div>