<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="container">
        <h1 class="text-center text-secondary">Error 404</h1>
        <h6 class="text-center text-secondary">No hemos encontrado la pagina...</h6>


        <div class="text-center">
            <img src="assets/images/error.png" alt="" width="500">
        </div>
    </div>
</body>

</html>