<!doctype html>
<html lang="en">

{{>head}}

<body>
    <div class="column container">

        {{>navbar}}

        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Historial de Tickets</h1>
        </div>

        {{>tablesadmin}}

    </div>

    <script src="../js/dropdown.js"></script>
</body>

</html>