<h1>Navigation</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit reiciendis, ipsa architecto tenetur esse odit ut
    quisquam fugit cumque eveniet at, vero laborum sed dolor voluptatum, vel aliquam nihil repudiandae?</p>

<h1>Footer</h1>