<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tickets</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="/add" class="btn btn-outline-success">
            <i class="bi bi-plus-lg"></i>
            Agregar Ticket
        </a>
    </div>
</div>