<header class="mb-5">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <img src="assets/logo/favicon.png" alt="" width="40">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/admin" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/tickets" class="nav-link px-2 link-dark">Tickets</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Chat</a></li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Administrador
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/tickets">Tickets</a></li>
                    <li><a class="dropdown-item" href="/chat">Chat</a></li>
                    <li><a class="dropdown-item" href="/logout">Salir</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>