// custom styles
.form-floating {
    .btn-r-l {
        a {
            color: $accent-color;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.btn-primary {
    background-color: $primary-color;
    border: $primary-color;
    &:hover {
        background-color: $accent-color;
    }
}

.box-centered {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.btn-usuario a {
    background-color: $primary-color;
    &:hover {
        background-color: $accent-color;
    }
}

.btn-empleado-login {
    background-color: $alternative-color;
}
