<body class="text-center">

    <div class="box-centered">
        <div class="btn-empleado btn-usuario">
            <a href="/login">Usuarios</a>
        </div>
    </div>

    <main class="form-signin">

        <form>
            <img class="mb-4" src="assets/logo/favicon.png" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Administrador</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Correo</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary btn-empleado-login" type="submit">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">&copy; Todos los derechos reservados</p>
        </form>
        
    </main>
</body>