<body class="text-center">

    <main class="form-signin">

        <form action="/registro" method="POST">
            <img class="mb-4" src="assets/logo/favicon.png" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Registrate</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="name">
                <label for="floatingInput">Nombre</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="lastname">
                <label for="floatingInput">Apellido</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="company">
                <label for="floatingInput">Empresa</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="addres">
                <label for="floatingInput">Dirección</label>
            </div>


            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email">
                <label for="floatingInput">Correo</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="form-floating">
                <p class="btn-r-l">
                    ¿Ya tienes una cuenta?
                    <a href="/login">Inicia Sesión</a>
                </p>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
            <p class="mt-5 mb-3 text-muted">&copy; Todos los derechos reservados</p>
        </form>

    </main>

</body>