<div class="column container">

    {{>navbar}}

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Historial de Tickets</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-success">
                <i class="bi bi-plus-lg"></i>
                Agregar Ticket</button>
        </div>
    </div>

    {{>tableuser}}

</div>

<script src="../js/dropdown.js"></script>